<ion-modal-view>
    <ion-content padding="'true'" scroll="false" class="has-header" ng-init="">
        
            <div>
                <div class="button-bar" style=" padding-top:45px;">
                    <button style="background-color:#3B5998; color:white;" class="button icon-left ion-social-facebook " ng-click="whatsappShare()">
                        share
                    </button>
                    <!-- <button class="button icon-left ion-social-googleplus button-assertive" ng-click="googleLogin()">
                        Google+
                    </button>
                </div> -->
                <div>
                </div>
            </ion-content>
        </ion-modal-view>