<ion-view>
<ion-nav-title>Member Agreement
   </ion-nav-title>


<ion-content>
 <div class="card">
  <div class="item item-text-wrap">
   THIS WEBSITE TERMS OF USE ("MEMBER AGREEMENT") IS AN ELECTRONIC RECORD IN THE FORM OF AN ELECTRONIC CONTRACT FORMED UNDER INFORMATION TECHNOLOGY ACT, 2000 AND RULES MADE THEREUNDER AND THE AMENDED PROVISIONS PERTAINING TO ELECTRONIC DOCUMENTS / RECORDS IN VARIOUS STATUTES AS AMENDED BY THE INFORMATION TECHNOLOGY ACT, 2000. THIS MEMBER AGREEMENT DOES NOT REQUIRE ANY PHYSICAL, ELECTRONIC OR DIGITAL SIGNATURE. 

   <p style="margin:12px 0 10px;">THIS MEMBER AGREEMENT IS A LEGALLY BINDING DOCUMENT BETWEEN USER AND TIGTAGCARS (BOTH TERMS DEFINED BELOW). THIS MEMBER AGREEMENT WILL BE EFFECTIVE UPON YOUR ACCEPTANCE OF THE SAME (DIRECTLY OR INDIRECTLY IN ELECTRONIC FORM OR BY MEANS OF AN ELECTRONIC RECORD) AND WILL GOVERN THE RELATIONSHIP AND TRANSACTION BETWEEN USER AND TIGTAGCARS FOR THE USE OF THE SERVICES OFFERED THROUGH WEBSITE (DEFINED BELOW). </p>

 <p style="margin:12px 0 10px;">This Member Agreement on the website www.TigTagCars.com and mobile application under the name and style of "TigTagCars" (the Website) is between TigTagCars India Private Limited (hereinafter referred to as "TigTagCars" or “Company” or "We" or "Us" or "Our") and the guest users or registered users of the Website (hereinafter referred to as “Member” or "You" or "Your" or "Yourself" or "User") describe the terms on which TigTagCars offers You the access to the Website and such other services as are incidental and ancillary thereto ("Services").</p>  
 <p style="margin:12px 0 10px;">
PLEASE READ THE TERMS OF MEMBER AGREEMENT CAREFULLY BEFORE USING OR REGISTERING ON THE WEBSITE OR ACCESSING ANY MATERIAL, INFORMATION OR AVAILING SERVICES THROUGH THE WEBSITE. IF YOU DO NOT AGREE WITH THESE TERMS, PLEASE DO NOT USE THE WEBSITE OR AVAIL ANY SERVICES BEING OFFERED THROUGH THE WEBSITE.</p> 

 <p style="margin:12px 0 10px;">
TIGTAGCARS RESERVES THE RIGHT TO CHANGE THE TERMS OF THIS MEMBER AGREEMENT FROM TIME TO TIME AND SHALL GIVE NOTICE OF SUCH CHANGES TO THE MEMBER IN A TIMELY MANNER. NOTICE TO THE MEMBERS SHALL BE CONSIDERED GIVEN WHEN SUCH NOTICE IS INDICATED AND ACCESSIBLE FROM THE FIRST PAGE ACCESSED AFTER THE MEMBER LOG-ON TO TIGTAGCARS WEBSITE, BY EMAIL TO THE MEMBER’S EMAIL ADDRESS PROVIDED TO TIGTAGCARS IN THE MEMBER’S ACCOUNT CREATION OR MOST RECENTLY PROVIDED TO TIGTAGCARS, OR BY SMS TO THE MEMBER’S MOBILE NUMBER PROVIDED DURING THE ACCOUNT CREATION. MEMBER AGREES THAT THE AMENDED TERMS AND CONDITIONS OF THIS AGREEMENT SHALL BE EFFECTIVE AND BINDING THE EARLIER OF (1) THE EFFECTIVE DATE INDICATED IN SUCH NOTICE; OR (2) ON THE DATE POSTED ON TIGTAGCARS’S WEBSITE.</p>

 <p style="margin:12px 0 10px;">
IT WILL BE PRESUMED THAT MEMBER HAS RECEIVED ANY SUCH NOTICE IF AND WHEN MEMBER MAKES A RESERVATION FOR A TIGTAGCARS VEHICLE AFTER NOTICE OF A CHANGE TO THIS AGREEMENT HAS BEEN PLACED ON TIGTAGCARS WEBSITE AND/OR DISTRIBUTED TO MEMBER BY EMAIL OR SMS. BY MAKING A RESERVATION AFTER RECEIVING NOTICE OF ANY CHANGES TO THE AGREEMENT, MEMBER ASSENTS TO AND WILL BE BOUND BY SUCH CHANGES TO THE AGREEMENT. MEMBER MAY DECLINE SUCH CHANGES BY DISCONTINUING TRIPS UNDER TIGTAGCARS’S MEMBER AGREEMENT. </p>
 <p style="margin:12px 0 10px;">
IN THE EVENT OF ANY CONFLICT BETWEEN THIS AGREEMENT AND ANY OTHER DOCUMENT WITH RESPECT TO TIGTAGCARS’S OTHER PROGRAMMES, THESE TERMS AND CONDITIONS SHALL GOVERN EXCEPT OTHERWISE SET FORTH FROM TIGTAGCARS IN WRITING.</p>

</div>
 
  <div class="item item-divider">
    General

  </div>
  <div class="item item-text-wrap">
    TigTagCars India Private Limited is a company incorporated under the laws of India, with its registered office at Unit Nos. 701 to 717, 7th Floor, Tower-B, Diamond District, No. 150, Airport Road, Kodihalli, Bangalore – 560008, India and having CIN: U63090KA2012FTC065834
  </div>
  
   <div class="item item-divider">
    Persons Permitted to Drive Vehicles
    
  </div>
  <div class="item item-text-wrap">
    TigTagCars India Private Limited is a company incorporated under the laws of India, with its registered office at Unit Nos. 701 to 717, 7th Floor, Tower-B, Diamond District, No. 150, Airport Road, Kodihalli, Bangalore – 560008, India and having CIN: U63090KA2012FTC065834
  </div>
    
     <div class="item item-divider">
  Prohibited Uses

  </div>
  <div class="item item-text-wrap">
    TigTagCars India Private Limited is a company incorporated under the laws of India, with its registered office at Unit Nos. 701 to 717, 7th Floor, Tower-B, Diamond District, No. 150, Airport Road, Kodihalli, Bangalore – 560008, India and having CIN: U63090KA2012FTC065834
  </div>
  
   <div class="item item-divider">
   Reserving TigTagCars Vehicles
    
  </div>
  <div class="item item-text-wrap">
    TigTagCars India Private Limited is a company incorporated under the laws of India, with its registered office at Unit Nos. 701 to 717, 7th Floor, Tower-B, Diamond District, No. 150, Airport Road, Kodihalli, Bangalore – 560008, India and having CIN: U63090KA2012FTC065834
  </div>
    
</div>

    </ion-content>
</ion-view>