<ion-view>
<ion-nav-title>My Booking
   </ion-nav-title>

<ion-content class="" scroll="false">
    <!-- <ion-tabs class="tabs-striped tabs-top tabs-background-dark tabs-color-light">

      <ion-tab title="LIVE" icon="" ui-sref="app.my-booking.booking-live" on-select="main.onTabSelected(this)">
        <ion-nav-view name="app.my-booking.booking-live" ></ion-nav-view>
      </ion-tab>
      <ion-tab title="FUTURE" icon="" ui-sref="app.my-booking.booking-future">
    
        <ion-nav-view name="app.my-booking.booking-future"></ion-nav-view>
      </ion-tab>
      <ion-tab title="COMPLETED" icon="" ui-sref="app.my-booking.booking-completed">
    
        <ion-nav-view name="app.my-booking.booking-completed"></ion-nav-view>
      </ion-tab>
      <ion-tab title="CANCELLED" icon="" ui-sref="app.my-booking.booking-cancelled">
        <ion-nav-view name="app.my-booking.booking-cancelled"></ion-nav-view>
      </ion-tab>
    </ion-tabs> -->
  
    <!-- <div class="row" style="flex-wrap: wrap;">
      <div class="col col-50" style="height:409px; border:solid; text-align:center; font-size:15px; padding:px; border-color:#5c7e0e;" ui-sref=" app.booking-live">Live
      
      </div>
       <div class="col col-50" style="height:109px; border:solid; text-align:center; font-size:15px; padding:px; border-color:#5c7e0e;" ui-sref="app.booking-future">Future
      </div>
      
    </div>
    <div class="row" style="flex-wrap: wrap;">
      <div class="col col-50" style="height:109px; border:solid; text-align:center; font-size:15px; padding:px; border-color:#5c7e0e;" ui-sref="app.booking-completed">Completed
      </div>
       <div class="col col-50" style="height:109px; border:solid; text-align:center; font-size:15px; padding:px; border-color:#5c7e0e;" ui-sref="app.booking-cancelled">Cancelled
      </div>
     --> 

       <div id="div1" class="mybookingdiv" ui-sref="app.booking-live" >
          <div class="card" style="margin:0px; height:100%;">
       <div class="item item-divider" style="text-style:bold; text-align:center; font-size:15px; background-color:#e9efdb; " >
       <span class="badge badge-assertive" style="right:2px;">2</span>
          LIVE
      </div>
          <div class="row " style="border-width:0px;">
            <div class="col-50 item item-image" style="margin-top:3px; border-width:0px;" >
            <img src="img/MH0054.jpg" align="center"style="width:; " >
           </div>
           <div class="col-50" style="margin-top:6px; padding-left:6px;">
           <h2 style="font-size:15px; margin:0px;">ERTIGA</h2>
           <p style="font-size:12px; color:#5c7e0e; margin:0px;">TYPE: MUV</p>
           <p style="font-size:10px; color:#5c7e0e;">KM : 20km(free)</p>
           </div>
         </div>
           <div style="padding:8px; background-color:#; height:100%;">
           <h2 style="font-size:14px; color:#5c7e0e;">BookingID : Jprjfh13w</h2>
           <h2 style="font-size:14px; color:#5cghf; margin-bottom:0px;">PAID : Rs. 5820</h2>
           <p style="font-size:13px;">Date : 20 jul,2016 </p>
           
           </div>
    </div>
        <!--  <div class="card" style="margin:0px; height:100%;" >
           <div class="item item-divider" style="text-style:bold; text-align:center; font-size:15px; background-color:#e9efdb;" >
             <span class="badge badge-assertive" style="right:2px;">1</span>
             LIVE
           </div>
    
           <div class="row item item-image" style="border-width:0px;">
             <div class="col-50" style="margin-top:8px;" >
               <img src="img/MH0054.jpg" align="center"style="width:; " >
             </div>
            <div class="col-50" style="margin-top:25px;">
              <h2 style="font-size:15px; ">ERTIGA</h2>
            </div>
           </div>

           <div style="padding-top:2px; padding-left:5px;background-color:#; height:100%;">
           <p style="font-size:14px; "> <i class="icon ion-location"></i>  Marigold IT Park,Kalyani Nagar,Pune, 411014</p>
           <p style="font-size:12px; color:#5c7e0e;">PAID : Rs. 5820</p>
           <p style="font-size:13px;">Time :20 jul,2016 </p>
          </div>
  
      <!- <div class="item item-divider" style="text-align:center; color:red;" ui-sref="app.booking-live">
       More...
      </div>
        </div> --> 
      </div>

     <div id="div2" class="mybookingdiv" ui-sref=" app.booking-future">
     <!-- <div class="card" style="margin:0px; height:100%;">
       <div class="item item-divider" style="text-style:bold; text-align:center; font-size:15px; background-color:#e9efdb;">
       <span class="badge badge-assertive" style="right:2px;">3</span>
          FUTURE
      </div>
          <div class="row item item-image" style="border-width:0px;">
            <div class="col-50" style="margin-top:8px;" >
            <img src="img/MH0054.jpg" align="center"style="width:; " >
           </div>
           <div class="col-50" style="margin-top:25px;">
           <h2 style="font-size:15px; ">ERTIGA</h2>
           
           </div>
         </div>
           <div style="padding:15px; background-color:#; height:100%;">
           <h2 style="font-size:14px; color:#5c7e0e;">BookingID : Jprjfh13w</h2>
           <h2 style="font-size:14px; color:#5cghf;">PAID : Rs. 5820</h2>
           <p style="font-size:13px;">Time :20 jul,2016 </p>
           
           </div>
  
      </div> -->
      <div class="card" style="margin:0px; height:100%;">
       <div class="item item-divider" style="text-style:bold; text-align:center; font-size:15px; background-color:#e9efdb; " >
       <span class="badge badge-assertive" style="right:2px;">2</span>
          FUTURE
      </div>
          <div class="row " style="border-width:0px;">
            <div class="col-50 item item-image" style="margin-top:3px; border-width:0px;" >
            <img src="img/MH1083.jpg" align="center"style="width:; " >
           </div>
           <div class="col-50" style="margin-top:6px; padding-left:6px;">
           <h2 style="font-size:15px; margin:0px;">INNOVA</h2>
           <p style="font-size:12px; color:#5c7e0e; margin:0px;">TYPE: MUV</p>
           <p style="font-size:10px; color:#5c7e0e;">KM : 30km(free)</p>
           </div>
         </div>
           <div style="padding:8px; background-color:#; height:100%;">
           <h2 style="font-size:14px; color:#5c7e0e;">BookingID : Jprjfh13w</h2>
           <h2 style="font-size:14px; color:#5cghf;  margin-bottom:0px;">PAID : Rs. 5820</h2>
           <p style="font-size:13px;">Date : 20 jul,2016 </p>
           
           </div>
    </div>
  </div>

     <div id="div3" class="mybookingdiv" ui-sref=" app.booking-completed" >
     <div class="card" style="margin:0px; height:100%;">
       <div class="item item-divider" style="text-style:bold; text-align:center; font-size:15px; background-color:#e9efdb; " >
       <span class="badge badge-assertive" style="right:2px;">1</span>
          COMPLETED
      </div>
          <div class="row " style="border-width:0px;">
            <div class="col-50 item item-image" style="margin-top:3px; border-width:0px;" >
            <img src="img/MH2425.jpg" align="center"style="width:; " >
           </div>
           <div class="col-50" style="margin-top:6px; padding-left:6px;">
           <h2 style="font-size:15px; margin:0px;">BR-V</h2>
           <p style="font-size:12px; color:#5c7e0e; margin:0px;">TYPE: SUV</p>
           <p style="font-size:10px; color:#5c7e0e;">KM : 20km(free)</p>
           </div>
         </div>
           <div style="padding:8px; background-color:#; height:100%;">
           <h2 style="font-size:14px; color:#5c7e0e;">BookingID : Jprjfh13w</h2>
           <h2 style="font-size:14px; color:#5cghf;  margin-bottom:0px;">PAID : Rs. 5820</h2>
           <p style="font-size:13px;">Date : 20 jul,2016 </p>
           
           </div>
    </div>
  </div>

     <div id="div4" class="mybookingdiv" ui-sref=" app.booking-cancelled">
     <div class="card" style="margin:0px; height:100%;">
       <div class="item item-divider" style="text-style:bold; text-align:center; font-size:15px; background-color:#e9efdb;">
       <span class="badge badge-assertive" style="right:2px;">0</span>
          CANCELLED
      </div>
          <div class="item item-image" align="center" style="height:100%; ">
             <div >
               <img src="img/recordnotfound.png" align="center"style="width:80%; " >
             </div>
            <!-- <div class="col-50" style="margin-top:10px;" >
            <img src="img/cover.jpg" align="center"style="width:; " >
           </div> -->
           <!-- <div class="col-50" style="margin-top:10px;">
           <h2 style="font-size:15px; ">ERTIGA</h2>
           
           </div> -->
         </div>
           <!-- <div style="padding:15px; background-color:#; height:100%;">
           <h2 style="font-size:14px; ">Pretty Hate Machine</h2>
           <p style="font-size:12px;">Nine Inch Nails</p>
           <p style="font-size:12px;">Nine Inch Nails</p>
           
           </div> -->
    </div>
  </div>

     <div id="div5" style="" >
       <div class="card" style="margin:0px; height:100%; " ui-sref="app.recent-searches">
         <div class="item item-divider" style="text-style:bold; text-align:center; font-size:15px; background-color:#e9efdb;">
         <span class="badge badge-assertive" style="right:12px;">0</span>
          RECENT SEARCHES
         </div>

        <div class="row item item-image" style="border-width:0px; height:100%; background-color:black;">
          <div class="col-50">
            <h2 style="font-size:19px; color:#5c7e0e; width:100%;" align="left">Renoult Duster</h2>
           <p style="font-size:15px; color:#ffb300;" align="left">BookingID : jfjd324</p>
           <h2 style="font-size:13px; color:white;" align="left">PAID  Amount :0</h2>
          </div>
           <div class="col-50">
           <img src="img/MH1523.jpg" align="right" style=" width:60%">
           </div>
        </div>
      </div>
     </div>
  
  </ion-content>
</ion-view>
