<ion-view>
<ion-content class="" scroll="false">
    <ion-tabs class="tabs-striped tabs-top tabs-background-dark tabs-color-light">

      <ion-tab title="Offers" icon="" ui-sref="app.offers-deals.offers1" on-select="main.onTabSelected(this)">
        <ion-nav-view name=" app.offers-deals.offers1" ></ion-nav-view>
      </ion-tab>
      <ion-tab title="Deals" icon="" ui-sref="app.offers-deals.deals1">
    
        <ion-nav-view name="app.offers-deals.deals1"></ion-nav-view>
      </ion-tab>
    
  </ion-content>
</ion-view>
