<ion-view>
<ion-nav-title>policy
   </ion-nav-title>


<ion-content>
                <ion-list show-delete="false" can-swipe="true">
                    <ion-item href="#" style="border-width:1px;"ui-sref="app.member-agreement">
                        Member Agreement
                        <ion-option-button class="button-light icon ion-heart"></ion-option-button>
                        <ion-option-button class="button-light icon ion-email"></ion-option-button>
                        <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
                    </ion-item>
                    <ion-item href="#" style="border-width:1px;" ui-sref="app.Eligibility">
                        Eligibility
                        <ion-option-button class="button-light icon ion-heart"></ion-option-button>
                        <ion-option-button class="button-light icon ion-email"></ion-option-button>
                        <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
                    </ion-item>
                    <ion-item href="#" style="border-width:1px;" ui-sref="app.free-policy">
                        Free Policy
                        <ion-option-button class="button-light icon ion-heart"></ion-option-button>
                        <ion-option-button class="button-light icon ion-email"></ion-option-button>
                        <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
                    </ion-item>
                    <ion-item href="#" style="border-width:1px;" ui-sref="app.privacy-policy">
                          Privacy Policy
                        <ion-option-button class="button-light icon ion-heart"></ion-option-button>
                        <ion-option-button class="button-light icon ion-email"></ion-option-button>
                        <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
                    </ion-item>
                    <ion-item href="#" style="border-width:1px;" ui-sref="app.Going-Outstation">
                         Going Outstation
                        <ion-option-button class="button-light icon ion-heart"></ion-option-button>
                        <ion-option-button class="button-light icon ion-email"></ion-option-button>
                        <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
                    </ion-item>
                    <ion-item href="#" style="border-width:1px;" ui-sref="app.how-tigtagcar">
                        How  to Tigtagcar
                        <ion-option-button class="button-light icon ion-heart"></ion-option-button>
                        <ion-option-button class="button-light icon ion-email"></ion-option-button>
                        <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
                    </ion-item>
                    <ion-item href="#" style="border-width:1px;" ui-sref="app.tigtag-safety">
                        Tigtagcar in Safety
                        <ion-option-button class="button-light icon ion-heart"></ion-option-button>
                        <ion-option-button class="button-light icon ion-email"></ion-option-button>
                        <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
                    </ion-item>
                    <ion-item href="#" style="border-width:1px;" ui-sref="app.upcoming-season">
                           Upcoming Peak Season
                        <ion-option-button class="button-light icon ion-heart"></ion-option-button>
                        <ion-option-button class="button-light icon ion-email"></ion-option-button>
                        <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
                    </ion-item>
              
                </ion-list>
             
        <!-- 
        <div style="margin-top:116px";>
    <div class="row" style="flex-wrap: wrap;">
      <div class="col col-50" style="height:109px; border:solid; text-align:center; font-size:15px; padding:37px; border-color:#5c7e0e;" ui-sref=" app.booking-live">
      
      </div>
       <div class="col col-50" style="height:109px; border:solid; text-align:center; font-size:15px; padding:37px; border-color:#5c7e0e;" ui-sref="app.booking-future">
      </div>
      
    </div>
    <div class="row" style="flex-wrap: wrap;">
      <div class="col col-50" style="height:109px; border:solid; text-align:center; font-size:15px; padding:37px; border-color:#5c7e0e;" ui-sref="app.booking-completed">
      </div>
       <div class="col col-50" style="height:109px; border:solid; text-align:center; font-size:15px; padding:37px; border-color:#5c7e0e;" ui-sref="app.booking-cancelled">
      </div>
      
    </div> -->
     
    </ion-content>
</ion-view>